<div class="jumbotron">
  <div class="container text-center">
    <h1>Hello, Welcome to your Stories!</h1>
    <p>Contents ...</p>
    <p class="text-center">
    <%= link_to '<i class="fa fa-sign-in fa-fw"></i> Sign Up'.html_safe, sign_up_path, class: 'btn btn-success btn-lg'  %>
      <!-- <a class="btn btn-primary btn-lg">Learn more</a> -->
    </p>
  </div>
</div>