@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
/* if you want to use your custom style, place it up to these imports lines*/
body {
  color: #525252;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 16px;
}