<div class="page-header text-center">
<h1>Categories#index <small><%= link_to "New Category", new_category_path, class: 'btn btn-xs btn-success' %></small></h1>
</div>
<%= will_paginate %>
<div class="row">
	<div class="well col-md-4 col-md-offset-4">
	<ul class="list-group">
	<% @categories.each do |category| %>
				<li class="list-group-item">
					<%= link_to "#{category.name}", category_path(category) %>
				</li>
	<% end %>
	</ul>
	</div>
</div>
<%= will_paginate %>
